<!doctype html>
<html ng-app="zoopervisor">
<head lang="en">
  <base href="/"/>
  <meta charset="UTF-8"/>
  <meta name="csrf-token" content="{{token}}"/>
  <meta name="isLogin" content="{{isLogin}}"/>
    {{#if zookeeperServerUrl}}
      <meta name="zookeeperServerUrl" content="{{zookeeperServerUrl}}"/>
    {{/if}}
  <title>Zoopervisor</title>
  <link rel="stylesheet" href="/build/_bower.css"/>
  <link rel="stylesheet" href="/stylesheets/ng-animation.css"/>
  <link rel="stylesheet" href="/stylesheets/fontello/css/animation.css"/>
  <link rel="stylesheet" href="/stylesheets/fontello/css/fontello.css"/>
  <link rel="stylesheet" href="/stylesheets/angular-ui-select/selectize.default.css"/>
  <link rel="stylesheet" href="/stylesheets/angular-ui-select/selectize.customized.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body>
<div ng-controller="MainController">
  <section class="container"
           ng-view
           ng-show="animations.login"
           ng-intro-options="introOptions"
           ng-intro-method="startIntro"></section>

  <section class="start" ng-class="{'close': animations.login}">
    <div class="shadow-layer-global"></div>
    <article class="welcome">
      <header>
        <h1>
          Zoopervisor
          <small>A fantastic browser based client for zookeeper</small>
        </h1>
      </header>

      <form class="form" name="loginForm" novalidate ng-submit="submit()">
        <div class="form-container">
          <div class="form-group host-group">
            <input class="form-control" id="ip" name="ip" type="text"
                   size="15" placeholder="Host"
                   autofocus required
                   ng-model="zookeeper.host"
                   ng-pattern="/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9]{1,2})(\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9]{1,2})){3}$/"/>

            <div class="form-validation">
              <div class="form-validation-pass spin-toggle" ng-show="loginForm.ip.$valid">
                <i class="icon-ok"></i>
              </div>
            </div>
          </div>

          <div class="form-group addon-group">
            <div class="input-group-addon">
              <i class="icon-colon"></i>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" id="port" name="port" type="text"
                   placeholder="Port" size="5"
                   required
                   ng-model="zookeeper.port"
                   ng-pattern="/[0-9]/"/>

            <div class="form-validation">
              <div class="form-validation-pass spin-toggle" ng-show="loginForm.port.$valid">
                <i class="icon-ok"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" ng-show="loginForm.$valid" ng-disabled="loginForm.$invalid" title="connect">
            <i class="icon-plug"></i>
          </button>
        </div>
      </form>

      <br/>

      <div class="start-notification" ng-if="animations.load">
        <i class="icon-spin6 animate-spin"></i>
        Connecting...
      </div>

      <div class="start-notification alert" ng-if="connectFailed && !animations.load">
        <i class="icon-cancel"></i>
        Connect Failed!
      </div>
    </article>
  </section>
</div>

<script src="/build/_bower.js"></script>
<script src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/services/service.js"></script>
<script src="/javascripts/directives/popup.js"></script>
<script src="/javascripts/directives/notification.js"></script>
<script src="/javascripts/controllers/mainController.js"></script>
<script src="/javascripts/controllers/appController.js"></script>
<script src="/javascripts/controllers/nodeController.js"></script>
<script src="/javascripts/controllers/editorController.js"></script>
</body>
</html>