<nav class="navbar">
  <section class="navbar-toolbar-left">
    <div class="navbar-brand">
      <h1>Zoopervisor<small>1.0.1</small></h1>
    </div>
  </section>

  <ul class="navbar-toolbar-right">
    <li class="navbar-toolbar-item pull-right" ng-click="disconnect()">
      <a href="javascript:void(0)">
        <i class="icon-logout"></i>
        Disconnect
      </a>
    </li>

    <li class="navbar-toolbar-item pull-right" ng-click="showTeam()">
      <a href="javascript:void(0)">
        <i class="icon-users"></i>
        Team
      </a>
    </li>

    <li class="navbar-toolbar-item pull-right">
      <i class="icon-bell-alt"></i>
      Notifications
    </li>

    <li class="navbar-toolbar-item pull-right">
      <i class="icon-gauge"></i>
      Status
    </li>
  </ul>
</nav>

<main class="main">
  <aside class="aside tree-aside" ng-include="templates.node"></aside>
  <section class="editor-container" ng-include="templates.editor"></section>
</main>

<section class="shadow-layer-global scale-fade" ng-show="animations.popup">
  <article zoo-popup class="popup" popup="popup" on-close="closePopup()"></article>
</section>

<div zoo-notification
     class="notification"
     noti-content="notification.content"
     noti-type="notification.type"
     ng-show="animations.notification"></div>
