<nav class="navbar">
  <section class="navbar-toolbar-left">
    <span class="navbar-header pull-left">
      <i class="icon-plug"></i>
      Connected:
    </span>

    <button class="btn btn-cancel pull-right" ng-click="disconnect()">
      <i class="icon-scissors"></i>
      Disconnect
    </button>

    <ui-select class="pull-right" ng-model="zookeeper" theme="selectize">
      <ui-select-match placeholder="Select a zookeeper">
        {{ $select.selected.host + ' : ' + $select.selected.port}}
      </ui-select-match>

      <ui-select-choices repeat="z in zookeepers | filter:$select.search">
        <div ng-bind="zookeeper.host + ' : ' + zookeeper.port"></div>
      </ui-select-choices>
    </ui-select>
  </section>

  <ul class="navbar-toolbar-right" id="navbar">
    <li class="navbar-toolbar-item pull-right" ng-click="showTeam()">
      <a href="javascript:void(0)">
        <i class="icon-users"></i>
        Team
      </a>
    </li>

    <li class="navbar-toolbar-item pull-right" ng-click="startIntro()">
      <i class="icon-help"></i>
      Guide
    </li>

    <li class="navbar-toolbar-item pull-right">
      <i class="icon-cog"></i>
      Settings
    </li>

    <li class="navbar-toolbar-item pull-right">
      <i class="icon-bell-alt"></i>
      Notifications
    </li>
  </ul>
</nav>

<main class="main">
  <aside class="aside tree-aside"
         ng-include="templates.node"></aside>

  <section class="editor-container" ng-include="templates.editor"></section>
</main>

<section class="shadow-layer-global" ng-show="animations.popup">
  <article zoo-popup class="popup slide-down" popup="popup" on-close="closePopup()"
           ng-show="animations.popup"></article>
</section>

<div zoo-notification
     class="notification slide-down"
     noti-content="notification.content"
     noti-type="notification.type"
     ng-show="animations.notification"></div>
