<article ng-controller="EditorController" ng-show="!!selectedNode" class="detail-panel"
         ng-style="{'height': panelHeight + 'px'}">
    <section class="content">
        <article class="meta-data">
            Metadata
        </article>
        <article class="editor-frame">
            <div class="toolbar">
                Toolbar
            </div>
            <div class="editor-wrapper">
                <div ui-ace></div>
            </div>
        </article>
    </section>

    <section class="action-bar">
        <button class="btn btn-ok" type="button">
            <i class="icon-ok"></i>
            apply
        </button>
    </section>
</article>
