<article ng-controller="EditorController" ng-show="!!selectedNode" class="detail-panel"
         ng-style="{'height': panelHeight + 'px'}">
    <section class="content">
        <article class="meta-data">
            Metadata
        </article>
        <article class="editor-frame">
            <div class="toolbar">
                <div class="col-1-4">
                    <ui-select ng-model="language.seleted" theme="selectize">
                        <ui-select-match placeholder="Set syntax">{{ $select.selected }}</ui-select-match>
                        <ui-select-choices repeat="language in languages | filter: $select.search">
                            <div ng-bind="language"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-1-4 push-1-2">
                    <ui-select ng-model="mode.selected" theme="selectize">
                        <ui-select-match placeholder="Set Editor Mode">{{ $select.selected }}</ui-select-match>
                        <ui-select-choices repeat="mode in modes | filter:$select.search">
                            <div ng-bind="mode"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="editor-wrapper">
                <div ui-ace></div>
            </div>
        </article>
    </section>

    <section class="action-bar">
        <button class="btn btn-ok" type="button">
            <i class="icon-ok"></i>
            apply
        </button>
    </section>
</article>
