<fieldset>
  <legend class="popup-header">
    {{ popup.header }}
    <i class="icon-cancel pull-right" ng-click="close()"></i>
  </legend>

  <form class="form popup-content" name="popupForm" novalidate ng-submit="popup.submit(model)">
    <article ng-bind="popup.content"></article>

    <section ng-if="popup.template" ng-include="popup.template"></section>

    <section class="btn-group pull-right" ng-repeat="btn in popup.buttons" ng-switch on="btn.type">
      <button class="btn btn-cancel" ng-switch-when="close" type="button" ng-click="close()">
        <i class="icon-{{ btn.icon }}"></i>
        {{ btn.text }}
      </button>

      <button class="btn btn-ok" ng-switch-when="submit" type="submit">
        <i class="icon-{{ btn.icon }}"></i>
        {{ btn.text }}
      </button>
    </section>

  </form>
</fieldset>