<fieldset>
    <legend class="popup-header">
        {{ popup.header }}
        <i class="icon-cancel pull-right" ng-click="close()"></i>
    </legend>

    <form class="form popup-content" name="removeNodeForm" novalidate ng-submit="">
        <p>
            {{ popup.content }}
        </p>

        <div class="pull-right">
            <button class="btn btn-metro btn-ok" type="submit">
                <i class="icon-ok"></i>
                Remove
            </button>

            <button class="btn btn-metro btn-cancel" type="button" ng-click="close()">
                <i class="icon-cancel"></i>
                Close
            </button>
        </div>
    </form>
</fieldset>