@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/OpenSans-Light.eot");
  src: url("./fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal; }
body {
  background: #fff;
  font-family: "Open Sans Light", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

p {
  margin: 0 0 1em 0; }

.form {
  font-size: 2em; }
  .form .form-group {
    margin-bottom: 1.5em;
    padding-right: 0;
    position: relative; }
    .form .form-group .form-control {
      border: 1px solid #fff;
      background: #fff;
      color: #555;
      display: block;
      font-size: inherit;
      font-family: inherit;
      line-height: 1.42857143;
      margin: 0;
      outline: 0;
      padding: 0.5em 0.5em;
      width: 100%; }
      .form .form-group .form-control.form-control-with-icon {
        padding-left: 2em; }
    .form .form-group .form-control-icon {
      color: #777;
      margin-top: -0.75em;
      left: 0.25em;
      position: absolute;
      top: 50%; }
    .form .form-group .input-group-addon {
      background: #fff;
      border: 1px solid #fff;
      padding: 0.5em 0;
      width: 100%;
      text-align: center;
      color: #777;
      line-height: 1.42857143; }

.navbar {
  font-size: 1.25em;
  position: relative;
  z-index: 1;
  height: 64px;
  background: #0092C7;
  color: #fff;
  padding: 0 16px; }
  .navbar .navbar-brand {
    line-height: 64px;
    font-size: 1.5em; }
  .navbar .navbar-toolbar {
    padding: 0;
    background-color: inherit; }
    .navbar .navbar-toolbar .navbar-toolbar-item {
      padding: 0 1.5em;
      line-height: 64px;
      cursor: pointer;
      transition: background-color linear 0.25s; }
      .navbar .navbar-toolbar .navbar-toolbar-item a {
        color: #fff;
        text-decoration: none; }
      .navbar .navbar-toolbar .navbar-toolbar-item:hover {
        background: #0067A6; }

.btn {
  background: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  opacity: 0.8;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
  transition: opacity linear 0.25s; }
  .btn i {
    font-size: 1.25em; }
  .btn.btn-metro {
    min-width: 90px; }
    .btn.btn-metro i {
      font-size: 2em;
      display: block; }
  .btn:hover {
    opacity: 1; }
  .btn:disabled {
    cursor: default;
    opacity: 0.5; }

.btn-ok, .btn-add {
  color: #fff;
  background: #24A560;
  border-color: #24A560; }

.btn-cancel, .btn-remove {
  color: #fff;
  background: #F5474C;
  border-color: #F5474C; }

.btn-default {
  color: #fff;
  background: #0092C7;
  border-color: #0092C7; }

.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  background: url("/images/background.png") no-repeat center;
  background-size: cover;
  transition: transform 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .start.close {
    transform: translate(0, -100%); }
  .start .welcome {
    background: rgba(255, 255, 255, 0.75);
    padding: 5em 0; }
    .start .welcome h1 {
      color: #6699CC;
      font-size: 8em;
      margin: 0 8%;
      padding-bottom: .3em; }
      .start .welcome h1 small {
        display: block;
        font-size: .25em;
        margin-top: 1em; }
  .start .form {
    margin: 2.5em auto;
    max-width: 512px;
    overflow: auto;
    text-align: left; }
    .start .form .form-control {
      opacity: 0.75;
      transition: opacity linear 0.25s; }
      .start .form .form-control:focus {
        opacity: 0.9; }
    .start .form .input-group-addon {
      opacity: 0.75; }
    .start .form .btn {
      min-width: 0;
      font-size: inherit;
      padding: 0.5em;
      line-height: 1.42857143; }
      .start .form .btn i {
        font-size: 1em; }
  .start .animate-spin {
    font-size: 5em;
    color: #fff; }

.aside {
  box-sizing: border-box;
  font-size: 1.5em;
  height: 100%;
  padding: 0; }
  .aside .sub-aside {
    background: #eee;
    margin-top: 0;
    overflow: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 64px 0 0 0;
    border-right: 1px solid #ddd; }
    .aside .sub-aside .site-aside {
      background: #ddd;
      height: 100%; }
      .aside .sub-aside .site-aside .site {
        cursor: pointer;
        padding: 1em .25em; }
        .aside .sub-aside .site-aside .site .icon-plug {
          color: #ddd; }
        .aside .sub-aside .site-aside .site.active {
          background: #0067A6;
          color: #fff; }
          .aside .sub-aside .site-aside .site.active .icon-plug {
            color: #fff; }
    .aside .sub-aside .tree-aside {
      font-size: 0.9em;
      background-color: inherit;
      padding: 1em; }
      .aside .sub-aside .tree-aside .form {
        font-size: 1.1em; }

.main {
  padding: 0; }

.detail-panel {
  font-size: 1.5em;
  display: flex;
  flex-direction: column; }
  .detail-panel .content {
    flex: 1;
    display: flex;
    flex-direction: row; }
    .detail-panel .content .meta-data {
      padding: 1em;
      flex: 1;
      border-right: 1px solid #ddd; }
    .detail-panel .content .editor-frame {
      flex: 4;
      position: relative;
      display: flex;
      flex-direction: column; }
      .detail-panel .content .editor-frame .toolbar {
        background: #CCC;
        padding: 1em;
        border-bottom: 1px solid #ddd;
        background: #EEE; }
      .detail-panel .content .editor-frame .editor-wrapper {
        flex: 1;
        position: relative; }
        .detail-panel .content .editor-frame .editor-wrapper .ace_editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
  .detail-panel .action-bar {
    background: #eee;
    padding: 1em;
    border-top: 1px solid #ddd;
    text-align: right; }
    .detail-panel .action-bar .btn {
      min-width: 128px; }

.angular-ui-tree {
  font-size: inherit; }
  .angular-ui-tree .angular-ui-tree-nodes {
    padding-left: 1em;
    min-width: 100%; }
    .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node {
      position: relative; }
      .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle {
        color: #777;
        cursor: pointer;
        margin-bottom: 1px;
        margin-left: .5em;
        position: relative;
        padding: .75em .5em;
        white-space: nowrap; }
        .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle:hover {
          background: #ddd; }
        .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .angular-ui-tree-handle.selected {
          background: #ddd;
          color: #555; }
      .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .node-icon {
        position: absolute;
        top: .25em;
        left: -1em;
        cursor: pointer;
        font-size: 1.5em; }
        .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .node-icon.icon-right-dir {
          color: #777; }
        .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .node-icon.icon-down-dir {
          color: #0092C7; }
      .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .node-toolbar {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%; }
        .angular-ui-tree .angular-ui-tree-nodes .angular-ui-tree-node .node-toolbar .btn {
          padding: 0 .25em;
          height: 100%; }

.shadow-layer-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999; }
  .shadow-layer-global .popup {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -256px;
    width: 512px;
    background: #eee;
    border: none;
    box-shadow: 0 0 32px 0 #454545; }
    .shadow-layer-global .popup fieldset {
      border: none;
      padding: 0;
      margin: 0; }
    .shadow-layer-global .popup .popup-header {
      width: 100%;
      padding: 0.5em;
      font-size: 2.5em;
      border: none;
      color: #fff;
      background: #0092C7; }
      .shadow-layer-global .popup .popup-header .icon-cancel {
        cursor: pointer;
        opacity: 0.75; }
        .shadow-layer-global .popup .popup-header .icon-cancel:hover {
          opacity: 1; }
    .shadow-layer-global .popup .popup-content {
      padding: 1em;
      overflow: auto; }
      .shadow-layer-global .popup .popup-content .btn {
        font-size: 60%; }

.loading {
  position: absolute;
  top: 50%;
  left: 75%;
  font-size: 3em;
  color: #6699CC;
  margin-left: -1.5em;
  margin-top: -3em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

.alert {
  color: #F5474C; }

/*# sourceMappingURL=style.css.map */
