@charset "UTF-8";

@mixin fontFace($name, $file) {
  @font-face {
    font-family: $name;
    src: url('./fonts/#{$file}.eot');
    src: url('./fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}.ttf') format('truetype'),
    url('../fonts/#{$file}.svg##{$name}') format('svg');
    font-weight: 300;
    font-style: normal;
  }
}

@include fontFace('Open Sans Light', 'OpenSans-Light');

// Font related variables
$font-stack: 'Open Sans Light', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
$font-size: 12px;

// Color related variables
$basic-color: #fff;
$aside-color: #eee;
$aside-dark-color: #ddd;

$flat-blue: #0092C7;
$flat-light-blue: #91BBF2;
$flat-dark-blue: #0067A6;

$flat-green: #24A560;

$flat-red: #F5474C;

$text-color: #555;
$text-light-color: #777;

body {
  background: $basic-color;
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p {
  margin: 0 0 1em 0;
}

.form {
  font-size: 2em;

  .form-group {
    margin-bottom: 1.5em;
    padding-right: 0;
    position: relative;

    .form-control {
      border: 1px solid $basic-color;
      background: $basic-color;
      color: $text-color;
      display: block;
      font-size: inherit;
      font-family: inherit;
      line-height: 1.42857143;
      margin: 0;
      outline: 0;
      padding: 0.5em 0.5em;
      width: 100%;

      &.form-control-with-icon {
        padding-left: 2em;
      }
    }

    .form-control-icon {
      color: $text-light-color;
      margin-top: -0.75em;
      left: 0.25em;
      position: absolute;
      top: 50%;
    }

    .input-group-addon {
      background: $basic-color;
      border: 1px solid $basic-color;
      padding: 0.5em 0;
      width: 100%;
      text-align: center;
      color: $text-light-color;
      line-height: 1.42857143;
    }
  }
}

.navbar {
  font-size: 1.25em;
  position: relative;
  z-index: 2;
  height: 64px;
  background: $flat-blue;
  color: $basic-color;
  padding: 0 16px;

  .navbar-brand {
    line-height: 64px;
    font-size: 1.5em;
  }

  .navbar-toolbar {
    padding: 0;
    background-color: inherit;

    .navbar-toolbar-item {
      padding: 0 1.5em;
      line-height: 64px;
      cursor: pointer;
      transition: background-color linear 0.25s;

      a {
        color: $basic-color;
        text-decoration: none;
      }

      &:hover {
        background: $flat-dark-blue;
      }
    }
  }
}

.btn {
  background: $basic-color;
  border: 1px solid $basic-color;
  box-sizing: border-box;
  color: $text-color;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  opacity: 0.8;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
  transition: opacity linear 0.25s;

  i {
    font-size: 1.25em;
  }

  &.btn-metro {
    min-width: 90px;

    i {
      font-size: 2em;
      display: block;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.btn-ok, .btn-add {
  color: $basic-color;
  background: $flat-green;
  border-color: $flat-green;
}

.btn-cancel, .btn-remove {
  color: $basic-color;
  background: $flat-red;
  border-color: $flat-red;
}

.btn-default {
  color: $basic-color;
  background: $flat-blue;
  border-color: $flat-blue;
}

.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  background: url("/images/background.png") no-repeat center;
  background-size: cover;
  transition: transform 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &.close {
    transform: translate(0, -100%);
  }

  .welcome {
    background: rgba(255, 255, 255, 0.75);
    padding: 5em 0;

    h1 {
      color: $flat-light-blue;
      font-size: 8em;
      margin: 0 8%;
      padding-bottom: .3em;

      small {
        display: block;
        font-size: .25em;
        margin-top: 1em;
      }
    }
  }

  .form {
    margin: 2.5em auto;
    max-width: 512px;
    overflow: auto;
    text-align: left;

    .form-control {
      opacity: 0.75;
      transition: opacity linear 0.25s;

      &:focus {
        opacity: 0.9;
      }
    }

    .input-group-addon {
      opacity: 0.75;
    }

    .btn {
      min-width: 0;
      font-size: inherit;
      padding: 0.5em;
      line-height: 1.42857143;

      i {
        font-size: 1em;
      }
    }
  }

  .animate-spin {
    font-size: 5em;
    color: $basic-color;
  }
}

.aside {
  box-sizing: border-box;
  font-size: 1.5em;
  height: 100%;
  padding: 0;

  .sub-aside {
    background: $aside-color;
    margin-top: 0;
    overflow: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 64px 0 0 0;
    border-right: 1px solid $aside-dark-color;
    font-size: 0.9em;

    &.site-aside {
      background: $aside-dark-color;
      height: 100%;

      .site {
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        text-align: right;
        padding: .5em .75em;

        .icon-plug {
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -.65em;
          font-size: 3em;
          color: $aside-dark-color;
        }

        .btn {
          font-size: 0.8em;
          padding: .5em 1em .75em 1em;
          border-radius: 4px;
        }

        &.active {
          background: #979DA6;
          color: $basic-color;

          .icon-plug {
            color: $basic-color;
          }
        }
      }
    }

    &.tree-aside {
      padding: 72px 16px 16px 16px;
      left: 4.2em;
      transition: left linear .25s;
      z-index: 1;

      &.show-site-sidebar {
        left: 16.6666667%;
      }

      .form {
        font-size: 1.25em;
      }
    }
  }
}

.main {
  padding-right: 0;
  transition: all linear .25s;

  &.add-padding {
    padding-left: 5.7em;
  }
}

.detail-panel {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;

    .meta-data {
      padding: 1em;
      flex: 1;
      border-right: 1px solid $aside-dark-color;
    }
    .editor-frame {
      flex: 4;
      position: relative;
      display: flex;
      flex-direction: column;

      .toolbar {
        padding: 1em;
        border-bottom: 1px solid $aside-dark-color;
        background: #EEE;
      }

      .editor-wrapper {
        flex: 1;
        position: relative;

        .ace_editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .action-bar {
    background: $aside-color;
    padding: 1em;
    border-top: 1px solid $aside-dark-color;
    text-align: right;

    .btn {
      min-width: 128px;
    }
  }
}

.angular-ui-tree {
  font-size: inherit;

  .angular-ui-tree-nodes {
    padding-left: 1em;
    min-width: 100%;

    .angular-ui-tree-node {
      position: relative;

      .angular-ui-tree-handle {
        color: $text-light-color;
        cursor: pointer;
        margin-bottom: 1px;
        margin-left: .5em;
        position: relative;
        padding: .75em .5em;
        white-space: nowrap;

        &:hover {
          background: $aside-dark-color;
        }

        &.selected {
          background: $aside-dark-color;
          color: $text-color;
        }
      }

      .node-icon {
        position: absolute;
        top: .25em;
        left: -1em;
        cursor: pointer;
        font-size: 1.5em;

        &.icon-right-dir {
          color: $text-light-color;
        }

        &.icon-down-dir {
          color: $flat-blue;
        }
      }

      .node-toolbar {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        .btn {
          padding: 0 .25em;
          height: 100%;
        }
      }
    }
  }
}

.shadow-layer-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;

  .popup {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -256px;
    width: 512px;
    background: #eee;
    border: none;
    box-shadow: 0 0 32px 0 #454545;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    .popup-header {
      width: 100%;
      padding: 0.5em;
      font-size: 2.5em;
      border: none;
      color: $basic-color;
      background: $flat-blue;

      .icon-cancel {
        cursor: pointer;
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }
    }

    .popup-content {
      padding: 1em;
      overflow: auto;

      .btn {
        font-size: 60%;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  color: $flat-light-blue;
  margin-left: -.5em;
  margin-top: -.5em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.alert {
  color: $flat-red;
}