@charset "UTF-8";

@mixin fontFace($name, $file) {
  @font-face {
    font-family: $name;
    src: url('./fonts/#{$file}.eot');
    src: url('./fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}.ttf') format('truetype'),
    url('../fonts/#{$file}.svg##{$name}') format('svg');
    font-weight: 300;
    font-style: normal;
  }
}

@mixin css3Fallback($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  $property: $value;
}

@include fontFace('Open Sans Light', 'OpenSans-Light');

// Font related variables
$font-stack: 'Open Sans Light', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
$font-size: 12px;

// Color related variables
$background-color: #454545;
$navbar-color: #222;
$aside-color: #666;

$primary-color: #0092C7;
$success-color: #44BF87;
$alert-color: #DB634F;
$warning-color: #EFC94C;

$text-color: #fff;

body {
  background: $background-color;
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p {
  margin: 0 0 1em 0;
}

.form {
  font-size: 2em;

  .form-group {
    margin-bottom: 0.5em;
    padding-right: 0;
    position: relative;
    color: $text-color;

    .form-control {
      border: none;
      display: block;
      background: $background-color;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: 1.42857143;
      margin: 0;
      outline: 0;
      padding: 0.5em 0.5em;
      width: 100%;
      outline: none;

      &.form-control-with-icon {
        padding-left: 2em;
      }
    }

    .form-control-icon {
      margin-top: -0.75em;
      left: 0.25em;
      position: absolute;
      top: 50%;
    }
  }
}

.navbar {
  font-size: 1.25em;
  position: relative;
  z-index: 2;
  height: 64px;
  background: $navbar-color;
  color: $text-color;
  padding: 0 16px;

  .navbar-brand {
    line-height: 64px;
    font-size: 1.5em;
  }

  .navbar-toolbar {
    padding: 0;
    background-color: inherit;

    .navbar-toolbar-item {
      padding: 0 1.5em;
      line-height: 64px;
      cursor: pointer;
      @include css3Fallback(transition, background-color linear 0.25s);

      a {
        color: $text-color;
        text-decoration: none;
      }

      &:hover {
        background: $primary-color;
      }
    }
  }
}

.btn {
  border: none;
  box-sizing: border-box;
  color: $text-color;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  opacity: 0.8;
  padding: .75em 1em 1em .5em;
  text-align: center;
  text-transform: capitalize;
  @include css3Fallback(transition, opacity linear 0.25s);

  i {
    font-size: 1.25em;
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.btn-ok, .btn-add {
  background: $success-color;
}

.btn-cancel, .btn-remove {
  background: $alert-color;
}

.btn-primary {
  background: $primary-color;
}

.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  background: url("/images/background.png") no-repeat center;
  background-size: cover;
  @include css3Fallback(transition, transform 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86));

  &.close {
    @include css3Fallback(transform, translate(0, -100%));
  }

  .welcome {
    background: rgba(0, 0, 0, 0.5);
    padding: 5em 0;
    height: 100%;

    h1 {
      color: #fff;
      font-size: 8em;
      margin: 0 8%;
      padding-bottom: .3em;

      small {
        display: block;
        font-size: .25em;
        margin-top: 1em;
      }
    }
  }

  .form {
    margin: 2.5em auto;
    max-width: 512px;
    overflow: auto;
    text-align: left;

    .form-control {
      border: 1px solid #aaa;
      opacity: 0.6;
      @include css3Fallback(transition, opacity linear 0.25s);

      &:focus {
        opacity: 0.9;
      }
    }

    .input-group-addon {
      background: $background-color;
      padding: 0.5em 0;
      width: 100%;
      text-align: center;
      color: $text-color;
      line-height: 1.42857143;
      opacity: 0.6;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
    }

    .btn-primary {
      min-width: 0;
      font-size: inherit;
      padding: 0.5em;
      line-height: 1.42857143;
      border: 1px solid #aaa;
      border-left: none;

      i {
        font-size: 1em;
      }
    }
  }

  .animate-spin {
    font-size: 5em;
    color: $text-color;
  }
}

.aside {
  box-sizing: border-box;
  height: 100%;
  padding: 0;

  .sub-aside {
    background: $aside-color;
    margin-top: 0;
    overflow: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 64px 0 0 0;
    color: $text-color;

    &.site-aside {
      background: $background-color;
      height: 100%;

      .site {
        white-space: nowrap;
        position: relative;
        padding: 16px;
        height: 64px;

        .site-address {
          text-indent: 4em;
          font-size: 1.1em;
          line-height: 36px;
        }

        .btn {
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: -1.325em;
          font-size: 1.1em;
          padding: 0.5em;
          border-radius: 4px;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        .icon-plug {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 3em;
          width: 48px;
          height: 48px;
          margin: 8px;
          @include css3Fallback(transition, transform linear .1s);

          &.collapsed {
            @include css3Fallback(transform, rotate(90deg));
          }
        }

        &.active {
          .icon-plug {
            cursor: pointer;
          }
        }
      }
    }

    &.tree-aside {
      padding: 72px 8px 16px 8px;
      left: 64px;
      z-index: 1;
      font-size: 1.25em;
      @include css3Fallback(transition, left linear .1s);

      .node-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      &.show-site-sidebar {
        left: 16.6666667%;
      }

      .form {
        font-size: 1.25em;
      }
    }
  }
}

.main {
  padding-right: 0;
  @include css3Fallback(transition, all linear .1s);

  &.add-padding {
    padding-left: 64px;
  }
}

.detail-panel {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;

    .meta-data {
      padding: 1em;
      flex: 1;
    }

    .editor-frame {
      flex: 4;
      position: relative;
      display: flex;
      flex-direction: column;

      .toolbar {
        padding: 1em;
        background: $aside-color;
      }

      .editor-wrapper {
        flex: 1;
        position: relative;

        .ace_editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .action-bar {
    padding: 1em;
    text-align: right;

    .btn {
      min-width: 128px;
      float: right;
      margin-left: .5em;
    }
  }
}

.angular-ui-tree {
  font-size: inherit;
  flex: 1;
  overflow: auto;

  .angular-ui-tree-nodes {
    padding-left: 1em;
    min-width: 100%;

    .angular-ui-tree-node {
      position: relative;

      .angular-ui-tree-handle {
        color: $text-color;
        cursor: pointer;
        margin-bottom: 1px;
        margin-left: .5em;
        position: relative;
        padding: .75em .5em;
        white-space: nowrap;

        &:hover {
          background: $primary-color;
        }

        &.selected {
          background: $primary-color;
        }
      }

      .node-icon {
        position: absolute;
        top: .25em;
        left: -1em;
        cursor: pointer;
        font-size: 1.5em;

        &.icon-right-dir {
          color: $text-color;
        }

        &.icon-down-dir {
          color: #03C8FA;
        }
      }

      .node-toolbar {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        .btn {
          padding: 0 .25em;
          height: 100%;
          opacity: 1;
          border: 1px solid #ddd;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}

.shadow-layer-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;

  .popup {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -256px;
    width: 512px;
    background: $aside-color;
    border: none;
    box-shadow: 0 0 32px 0 $background-color;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    .popup-header {
      width: 100%;
      padding: 0.5em;
      font-size: 2.5em;
      border: none;
      color: $text-color;
      background: $navbar-color;

      .icon-cancel {
        cursor: pointer;
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }
    }

    .popup-content {
      padding: 1em;
      overflow: auto;

      .btn-group {
        margin-top: 2em;

        .btn {
          text-transform: capitalize;
          font-size: 60%;
          margin-left: 4px;
        }
      }
    }
  }
}

.notification {
  position: absolute;
  top: 72px;
  right: 8px;
  color: $text-color;
  z-index: 999;

  .notification-body {
    padding: 1.5em;
    font-size: 1.5em;

    &.success {
      background: $success-color;
    }

    &.failure {
      background: $alert-color;
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  color: $primary-color;
  margin-left: -.5em;
  margin-top: -.5em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.alert {
  color: $alert-color;
}