<!doctype html>
<html>
  <head>
    <meta charset="utf-8" >
    <style type="text/css">
      .api-section {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Zoopervisor API Test Page</h1>
    <section class="api-section">
      <h2>Setup a connection (POST - /api/connects)</h2>
      <form method="POST" action="/api/connects">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <p><label>host</label><input name="host" placeholder="host" /></p>
        <p><label>port</label><input name="port" placeholder="port" /></p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <section class="api-section">
      <h2>Get all the nodes (Get - /api/nodes)</h2>
      <form method="GET" action="/api/nodes">
        <p>You should connect it first</p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <section class="api-section">
      <h2>Create a new Node (POST - /api/nodes)</h2>
      <label>You should connect it first</label>
      <form method="POST" action="/api/nodes">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <p><label>path</label><input name="path" placeholder="/path/to/node" /></p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <section class="api-section">
      <h2>Delete a Node (DELETE - /api/nodes/:path)</h2>
      <label>You should connect it first</label>
      <form method="POST" action="/api/nodes/:path">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <p><label>_method</label><input name="_method" value="delete" disabled/></p>
        <p><label>path</label><input name="path" placeholder="/path/to/node" /></p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <section class="api-section">
      <h2>Get data of a Node (GET - /api/nodes/:path)</h2>
      <label>You should connect it first</label>
      <form method="GET" action="/api/nodes/:path">
        <p><label>path</label><input name="path" placeholder="/path/to/node" /></p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <section class="api-section">
      <h2>Update a Node (UPDATE - /api/nodes/:path)</h2>
      <label>You should connect it first</label>
      <form method="POST" action="/api/nodes/:path">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <p><label>_method</label><input name="_method" value="put" disabled /></p>
        <p><label>path</label><input name="path" placeholder="/path/to/node" /></p>
        <p><label>data</label><textarea name="data" rows="5"></textarea></p>
        <p><button type="submit">submit</button></p>
        <h3>Response</h3>
        <p class="response"></p>
      </form>
    </section>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
    $(function () {
      $('form').submit(function(evt) {
        evt.preventDefault();

        var $form = $(this);
        var method = $form.attr('method');
        var url = $form.attr('action');

        var path = encodeURIComponent($form.find('input[name="path"]').val());
        url = url.replace(':path', path);

        $form.find('input:disabled').removeAttr('disabled');
        var data = $form.serialize();
        $form.find('input:disabled').attr('disabled', 'disabled');

        $.ajax(url, {
          type: method,
          url: url,
          data: data,
          success: function (response) {
            $form.find('.response').html(JSON.stringify(response));
            console.log(response);
          }
        })
      })
    });
    </script>
  </body>
</html>